body {
  font-family: "Raleway", serif;
  overscroll-behavior: none;
}
.container {
  background: url("svg/wave-haikei (1).svg") no-repeat;
  background-size: 100%;
}
.hello {
  height: 25vh;
  display: flex;
  font-family: "Birthstone Bounce", serif;
  overflow:hidden;
}
span {
  display: block;
  height: 100%;
  animation: spin_words 6s infinite;
  animation-delay: 1s;
}

@keyframes spin_words {
  10% {
    transform: translateY(-100%);
  }
  25% {
    transform: translateY(-80%);
  }
  35% {
    transform: translateY(-200%);
  }

  50% {
    transform: translateY(-180%);
  }
  60% {
    transform: translateY(-300%);
  }
  75% {
    transform: translateY(-280%);
  }
}
*/ .surp-wrapper {
  font-family: "Birthstone Bounce", serif;
}

.surprise {
  background: linear-gradient(90deg, #5dfdd5, #d7ff5d);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
